In [97]:
import pandas as pd

vac_csv = './export_data/VacBldg.csv'

vac_data = pd.read_csv(vac_csv)

addr_data = vac_data[['SurveyYear','AddrNum','StName','AddrSuf']]
addr_data=addr_data.sort_values(by=['AddrSuf','StName','AddrNum'])

addr_data['Years Vacant']=0
addr_data['Vacancy Start']=0
addr_data['Vacancy End']=0

curr_addr=''
curr_st=''
curr_suf=''
startyear=0
endyear=0
years=0

addr_data=addr_data.reset_index(drop=True)

#addr_data=addr_data[0:100]

repeat=False


for index,row in addr_data.iterrows():
    if(index==0):
        curr_addr=row['AddrNum']
        curr_st=row['StName']
        startyear=row['SurveyYear']
    else:
        if((curr_addr!=row['AddrNum'] or curr_st!=row['StName'] or curr_suf!=row['AddrSuf']) and repeat==True):
            addr_data.loc[index-1, 'Vacancy Start']=startyear
            addr_data.loc[index-1, 'Vacancy End']=endyear
            addr_data.loc[index-1, 'Years Vacant']=years
            curr_addr=row['AddrNum']
            curr_st=row['StName']
            curr_suf=row['AddrSuf']
            startyear=row['SurveyYear']
            repeat=False
            years=0
        elif((curr_addr!=row['AddrNum'] or curr_st!=row['StName'] or curr_suf!=row['AddrSuf']) and repeat==False):
            addr_data.loc[index-1, 'Vacancy Start']=startyear
            addr_data.loc[index-1, 'Vacancy End']=startyear
            curr_addr=row['AddrNum']
            curr_st=row['StName']
            curr_suf=row['AddrSuf']
            startyear=row['SurveyYear']
            repeat=False
            years=0
            
        else:
            endyear=row['SurveyYear']
            years+=1
            repeat=True

addr_data=addr_data.drop(addr_data[addr_data['Vacancy Start']==0].index)

morethanzero=addr_data.drop(addr_data[addr_data['Years Vacant']==0].index)


addr_data

,SurveyYear,AddrNum,StName,AddrSuf,Years Vacant,Vacancy Start,Vacancy End
0,1990,1806,1/2 18TH,,0,1990,1990
1,1991,2511,1/2 BENTON,,0,1991,1991
2,1991,3013,1/2 KOSSUTH,,0,1991,1991
3,1989,5806,1/2 LILLIAN,,0,1989,1989
4,1991,1709,1/2 LOCUST,,0,1991,1991
5,1990,3222,1/2 MAGAZINE,,0,1990,1990
6,1990,2225,1/2 MONTGOMERY,,0,1990,1990
7,2008,1314,10TH,,0,2008,2008
13,2001,1712,10TH,,5,1994,2001
15,2018,1836,10TH,,1,2017,2018
16,1994,1839,10TH,,0,1994,1994
17,2013,1851,10TH,,0,2013,2013
18,1992,2017,10TH,,0,1992,1992
19,1989,2211,10TH,,0,1989,1989
20,1989,2215,10TH,,0,1989,1989
25,2000,2219,10TH,,4,1996,2000
28,2002,2312,10TH,,2,2000,2002
32,2007,2318,10TH,,3,2004,2007
34,1991,2319,10TH,,1,1989,1991
35,1990,2421,10TH,,0,1990,1990
37,1991,2600,10TH,,1,1989,1991
38,1993,2614,10TH,,0,1993,1993
40,1990,2700,10TH,,1,1989,1990
41,1993,2702,10TH,,0,1993,1993
42,1989,2709,10TH,,0,1989,1989
43,1991,2710,10TH,,0,1991,1991
44,1989,2713,10TH,,0,1989,1989
45,1989,2720,10TH,,0,1989,1989
52,1997,2722,10TH,,6,1990,1997
53,1989,1859,10TH (REAR),,0,1989,1989
...,...,...,...,...,...,...,...
167637,1996,4064,WEST BELLE,REAR,1,1995,1996
167638,1993,2841,WISCONSIN,REAR,0,1993,1993
167646,2004,937,WITHNELL,REAR,7,1997,2004
167653,2018,3018,WYOMING,REAR,6,2012,2018
167654,1993,2907,TEXAS,REAR 09,0,1993,1993
167658,2017,3159,MICHIGAN,REAR BLDG,3,2014,2017
167662,2002,4235,RANDALL,REAR/FRONT,3,1999,2002
167664,1995,2721,MISSOURI,RREAR,1,1994,1995
167671,2017,2013,GANO,RUBBLE,6,2012,2017
167675,2015,3918,GRAND,RUBBLE,3,2012,2015
167676,1989,1916,12TH,S,0,1989,1989
167677,1989,2010,12TH (REAR),S,0,1989,1989
167679,1995,2357,7TH,S,1,1994,1995
167696,2010,2201,7TH,SOUTH,16,1994,2010
167697,1993,7300,BROADWAY,SOUTH,0,1993,1993
167708,2004,4215,FINNEY,W,10,1994,2004
167716,2004,2557,HEBERT,W,7,1997,2004
167717,1992,2567,HEBERT,W,0,1992,1992
167718,1993,4228,LEXINGTON,W,0,1993,1993
167719,1993,4205,MARGARETTA,W,0,1993,1993
167731,2006,4254,MARKET,W,11,1995,2006
167748,2013,2520,PALM,W,16,1997,2013
167765,2013,2534,PALM,W,16,1997,2013
167766,1997,2530,ST LOUIS,W,0,1997,1997
167767,1996,2534,PALM,W REAR,0,1996,1996
167781,2007,4236,FARLIN,WEST,13,1994,2007
167782,1994,4229,KOSSUTH,WEST,0,1994,1994
167784,1995,4223,MARGARETTA,WEST,1,1994,1995
167788,2002,1918,CHEROKEE,WW,3,1999,2002
167796,2007,5929,WELLS,]31,7,2000,2007

In [103]:
print("Number of buildings vacant for less than a year",len(addr_data)-len(morethanzero))
print("Number of buildings vacant for more than a year",len(morethanzero))
print("Average number of years a building is vacant: ",round(addr_data['Years Vacant'].mean(),2))
print("Average of buildings vacant for more than a year: ",round(morethanzero['Years Vacant'].mean(),2))
for i in range(0,(2018-1989)+1):
    print("Number of buildings vacant for ",i," years:",len(addr_data.drop(addr_data[addr_data['Years Vacant']!=i].index)))

Number of buildings vacant for less than a year 8949
Number of buildings vacant for more than a year 23541
Average number of years a building is vacant:  4.16
Average of buildings vacant for more than a year:  5.75
Number of buildings vacant for  0  years: 8949
Number of buildings vacant for  1  years: 4234
Number of buildings vacant for  2  years: 3224
Number of buildings vacant for  3  years: 2530
Number of buildings vacant for  4  years: 2084
Number of buildings vacant for  5  years: 1968
Number of buildings vacant for  6  years: 1642
Number of buildings vacant for  7  years: 1405
Number of buildings vacant for  8  years: 1261
Number of buildings vacant for  9  years: 918
Number of buildings vacant for  10  years: 788
Number of buildings vacant for  11  years: 643
Number of buildings vacant for  12  years: 512
Number of buildings vacant for  13  years: 420
Number of buildings vacant for  14  years: 367
Number of buildings vacant for  15  years: 274
Number of buildings vacant for  16  years: 226
Number of buildings vacant for  17  years: 205
Number of buildings vacant for  18  years: 165
Number of buildings vacant for  19  years: 129
Number of buildings vacant for  20  years: 123
Number of buildings vacant for  21  years: 81
Number of buildings vacant for  22  years: 91
Number of buildings vacant for  23  years: 68
Number of buildings vacant for  24  years: 61
Number of buildings vacant for  25  years: 29
Number of buildings vacant for  26  years: 31
Number of buildings vacant for  27  years: 25
Number of buildings vacant for  28  years: 21
Number of buildings vacant for  29  years: 8

In [99]:
addr_data=addr_data.sort_values(by=['Years Vacant'])
print(addr_data.iloc[-1])

SurveyYear          2018
AddrNum             2150
StName           COLLEGE
AddrSuf
Years Vacant          43
Vacancy Start       1990
Vacancy End         2018
Name: 29945, dtype: object